<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title> Subscribe </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/subscribe.css">
    <!-- responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/menu_black.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--구글api-->
    <script async src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
    <script defer src="./js/cargoEye.js"></script>
<script>

	document.getElementById("outline-button").onclick = function () {
      
    };
	</script>
	
    <style>
h1 {
    display: inline-block;
    text-align: center;
    margin-left: 660px;
    font-size: 35px;
    border-bottom: 5px solid navy;
}
.mt-5, .my-5 {
    margin-top: 1rem!important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
	</style>
</head>

<body>
<header>
		<!-- header inner -->
		<div class="head-top">
			<div class="container-fluid">
				<div class="row d_flex">
					<div class="navbar_mega">
					<!-- class="col-sm-3" -->
						<!--로그인, 메뉴 버튼 오른쪽 정렬-->
						<div class="logo">
							<!--로고-->
							<a th:href=@{/} style="padding:0px;"><img th:src="@{/images/black_logo.png}" class="logoimg"></a>
						</div> 
					
						<a th:href=@{/about} style="font-size:20px; color:rgb(9, 9, 146); font-weight:bold;"> About us </a>
						
						<div class="subnav">
							<button class="subnavbtn">Service <i class="fa fa-caret-down"></i></button>
							<div class="subnav-content">
								<a th:href=@{/serviceinfo}> 서비스 정보 </a>
								<a th:href=@{/subscribe}> 구독하기 </a>
								<a th:href=@{/cargoeye}> CargoEye </a>
							</div>
						</div>
						<div class="subnav">
							<button class="subnavbtn">Information <i class="fa fa-caret-down"></i>
							</button>
							<div class="subnav-content">
								<a th:href=@{/exchange}>환율 정보</a> 
								<a th:href=@{/weather}>날씨 정보</a> 
								<a th:href=@{/shipInfo}>부대비용</a> 
								<a th:href=@{/schedule}>선박 스케줄</a>
							</div>
						</div>
						<div class="subnav">
							<button class="subnavbtn">Customer <i class="fa fa-caret-down"></i>
							</button>
							<div class="subnav-content">
								<a th:href=@{/boardList}>자유게시판 </a> <!-- 하민 -->
								<a th:href=@{/marine_news}>해운뉴스</a>  <!-- 혜민 -->
								<a th:href=@{/contact}>Contact us</a> 
								
							</div>
						</div>
						<div class="subnav login_cargoeye">
							<!--상단메뉴아이콘 <img class="openbtn" src="images/menu_btn.png">--> 
							
							<a th:href=@{/cargoeye} >
							<img th:src="@{/images/logo1.png}" style="width:28px; margin-bottom: 5px;">
								<span style="padding-left:0px;">CargoEye</span></a>					
						</div>						
						</div>			
					</div><!-- .navbar_mega-->	
					<!-- end ._cargoeye-->
				</div>
				<!-- end .login+cargoeye -->
			</div>

			<a th:href=@{/login}>
				<i class="fa fa-user" aria-hidden="true"  style="top: 15px; right: 15px;"> Login</i>	
			</a>
	</header>
	<hr style="margin-bottom: 0px !important;">
<!-- 구독창1 시작  -->
<section class="bg-light py-5 border-bottom" style="background-color: whitesmoke !important;">     	
            	<h1><strong>Subscribe</strong></h1><br><br><br>			
    <div class="container-fluid mt-5 mb-5" style="width:1250px;">
        <table class="table bg-white table-bordered">
            <tbody>
                <tr>
                    <th scope="column"><span class="font-weight-bold">Pick a Plan</span></th>
                    <td>
                        <div class="d-flex flex-row justify-content-between align-items-baseline mt-0"> <span
                                class="font-weight-bold">Starter</span>
                            <div class="price d-flex flex-row align-items-center">
                                <span class="margins">월/</span><br><br><span class="amount">40,000</span> <span class="margins">원</span>
                            </div>
                        </div><a th:href=@{/payment} class="btn btn-outline-primary btn-block outline-button">구독하기 </a>
                    </td>
                    <td>
                        <div class="d-flex flex-row justify-content-between align-items-baseline mt-0"> <span
                                class="font-weight-bold">Advanced</span>
                            <div class="price d-flex flex-row align-items-center">
                                <span class="margins">월/</span><br><br> <span class="amount">70,000</span> <span class="margins">원</span>
                            </div>
                        </div> <a th:href=@{/payment} class="btn btn-outline-primary btn-block outline-button">구독하기 </a>
                    </td>
                    <td>
                        <div class="d-flex flex-row justify-content-between align-items-baseline mt-0"> <span
                                class="font-weight-bold">Ultimate</span>
                            <div class="price d-flex flex-row align-items-center">
                                <span class="margins">월/</span><br><br><span class="amount">100,000</span> <span class="margins">원</span> 
                            </div>
                        </div><a th:href=@{/payment} class="btn btn-outline-primary btn-block outline-button">구독하기 </a>
                    </td>
                </tr>

                <tr>
                    <th scope="row"> <span class="d-block"> 실시간 선박위치</span><span class="font-weight-light">
                            실시간 선박 교통데이터 제공 </span> </th>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> <span class="d-block"> 날씨 데이터 </span><span class="font-weight-light">
                          실시간 풍향과 풍속 비교 </span> </th>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row"> <span class="d-block"> 선박 데이터 </span><span class="font-weight-light">
                            선박의 상세정보를 제공 </span> </th>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row"> <span class="d-block"> ETA 예측 </span><span class="font-weight-light">
                           표준항로를 기반으로 더욱 정확한 ETA 예측 </span> </th>
                <td> </td>
                <td>
                    <div class="text-center check"> <i class="fa fa-check"></i> </div>
                </td>
                <td>
                    <div class="text-center check"> <i class="fa fa-check"></i> </div>
                </td>
                </tr>
               
                <tr>
                    <th scope="row"> <span class="d-block"> 강화된 Live-map</span> <span class="font-weight-light">
                            화물 도착예정과 지연을 예측 </span> </th>
                    <td> </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> <span class="d-block"> 터미널 적체 </span> <span class="font-weight-light">
                            터미널의 적체를 예측하여 선박의 위치에 따라 접안시간 예측 </span> </th>
                    <td> </td>
                    <td> </td>
                    <td>
                        <div class="text-center check"> <i class="fa fa-check"></i> </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
    <!-- 구독창 끝 -->